

{% extends "layout.html.twig" %}

{% block title %}Chapitre {{ chapter.id }} {% endblock %}

{% block content %}
    <div id="block_page">
        <div class ="container">

            <div class="row">

                               

                <div id="block_container" class="col-md-offset-2 col-md-8 col-sm-12">

                    <div id="page_container">

                        <h2 class="chapter_title">Chapitre {{ chapter.id }} : {{ chapter.title }}</h2>
                        <img class="chapter_img" src="/img/{{chapter.img}}" alt="">

                        {% for key, value in pages %}

                            <div class="chapter_page" id="chapter_page_{{ key + 1 }}">{{ value | raw }}</div>

                        {% endfor %}

                        <div id="pagination_container">
                            <button href="" id="prev_page">Précédent</button>

                                {% for key, value in pages %}

                                        <button class="set_activ page_pagination">{{ key + 1 }}</button>

                                {% endfor %}
                        
                            <button href="" id="next_page">Suivant</button>
                        </div>
                    </div>
                </div>

                 

            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div id="add_comment_container">

                        <h3>Ajouter un commentaire</h3>

                        {% if commentForm %}

                        {{ form_start(commentForm) }}

                            <div class="form-group">
                                {{ form_errors(commentForm.content) }}
                                {{ form_widget(commentForm.content, { 'attr':  {
                                    'rows': '4',
                                    'class': 'form-control',
                                    'placeholder': 'Tapez votre commentaire'
                                }}) }}
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Publier commentaire" />
                            </div>

                        {{ form_end(commentForm) }}

                        {% for flashMessage in app.session.flashbag.get('success') %}

                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>

                        {% endfor %}

                        {% else %}

                            <a href="{{ path('login') }} ">Connectez-vous</a> pour ajouter un commentaire.

                        {% endif %}
                    
                    </div>
                </div>            
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div id="comment_container">

                        <h3 style="margin-bottom:40px">Commentaires :</h3>

                            {% for comment in comments %}

                                <div id="user_comment_container">
                                    <strong>{{ comment.user.username }} :</strong>
                                    <p>{{ comment.content }}</p>
                                </div>

                            {% else %}

                                Il n'y a aucun commentaires

                            {% endfor %}
                    
                    </div>
                </div>            
            </div>

            
            
        </div>
    </div>

{% endblock %}